/*
 * App container provides the highest level of layout for the application.
 * The toolbar strip and the content area.
 */

$app-container-toolbar-height: 75px;

.c-app-container {
  background-color: #f5f5f5;
  position: fixed;
  inset: 0;
  border: 0;
}

.c-app-container__toolbar {
  height: $app-container-toolbar-height;
  border-bottom: 4px solid $ppe-color-grey-light-medium;
}

.c-app-container__content {
  display: flex;
  flex-flow: column;
  top: $app-container-toolbar-height;
  background-color: $ppe-color-grey-lightest;
  height: calc(100% - #{$app-container-toolbar-height});
  padding: $ppe-spacing-unit-md $ppe-spacing-unit-lg;
  padding-bottom: $ppe-spacing-unit-lg;
}

.reverse_column {
  flex-flow: row-reverse;
}
