.c-navigation-button {
  padding: 0 $ppe-spacing-unit-sm;
}

.c-navigation-button .c-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: $ppe-spacing-unit-xs;
  margin-right: -$ppe-spacing-unit-sm;
}
