/*
 * The apps toolbar
 */

.c-toolbar {
  height: 100%;
  padding-left: $ppe-spacing-unit-lg;
  padding-right: $ppe-spacing-unit-lg;
}

.c-toolbar-header h2 {
  display: inline-block;
}

.c-toolbar-header h5 {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
}

.c-toolbar-header__text {
  margin: 0;

  @include ppe-font-size('lg');
  white-space: nowrap;
  color: $ppe-color-orange;
}
