$ppe-color-white: #fff;
$ppe-color-white-transparent-10: rgba(255, 255, 255, 10%);
$ppe-color-white-transparent-50: rgba(255, 255, 255, 50%);
$ppe-color-black: #222;
$ppe-color-blue: #007398;
$ppe-color-blue-light: #009ece;
$ppe-color-grey-lightest: #f5f5f5;
$ppe-color-grey-light: #ecf2f3;
$ppe-color-grey-light-medium: #e8e8e8;
$ppe-color-grey-medium: #dcdcdc;
$ppe-color-blue-lightest: #d7f1f9;
$ppe-color-grey-medium-dark: #b9b9b9;
$ppe-color-grey-dark: #999;
$ppe-color-greyish-brown: #505050;
$ppe-color-orange: #e9711c;
$ppe-color-light-orange: #f9dbc6;
$ppe-color-green: #29a61b;
$ppe-color-red: #c83727;
$ppe-color-dialog-mask: rgba(235, 235, 235, 85%);
